<div class="form-friasya-venta">
  <h2 class="form-title">¡Haz tu pedido en FriasYa!</h2>
  <div class="form-descripcion">Refresca tus momentos, disfrútalo a tiempo</div>
  <div class="form-wrap">
    {{ form }}
  </div>
</div>
