<table class="ventas-reporte">
  <thead>
    <tr>
      <th>Producto</th>
      <th>Stock</th>
      <th>Semáforo</th>
      <th>Unidades a retanquear</th>
    </tr>
  </thead>
  <tbody>
    {% for producto in productos %}
      {% set stock = producto.stock + 0 %}
      {% set semaforo = 'verde' %}
      {% if stock <= 4 %}
        {% set semaforo = 'rojo' %}
      {% elseif stock <= 15 %}
        {% set semaforo = 'amarillo' %}
      {% endif %}

      <tr>
        <td>{{ producto.nombre }}</td>
        <td>{{ stock }}</td>
        <td><span class="semaforo {{ semaforo }}"></span></td>
        <td>{{ producto.a_retanquear }}</td>
      </tr>
    {% else %}
      <tr>
        <td colspan="4"><em>No hay productos registrados.</em></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

